<style>
	.message-content {
		font-family: Arial, Helvetica, sans-serif;
		max-width: 600px;
		font-size: 16px;
		line-height: 24px;
	}
</style>

<div class="message-content">
	<p>Reset password request by {{name}}</p>
	<p><a href="{{link}}">Reset password</a></p>
	<p>Discard this e-mail if you didn't request.</p>
</div>
